[Unit]
Description=Bitmex app Service
After=multi-user.target

[Service]
Type=idle
User=user
ExecStart=/usr/bin/python3 /home/pi/Documents/FeeMaker/appTestnet.py > /home/pi/Documents/FeeMaker/appTestnet.log 

[Install]
WantedBy=multi-user.target
